body{
    background-color: beige;
    
    
}
h1{
   text-align: center;
   padding-top: 30px;
   color:rgb(66, 40, 7);
}
p{
    text-align: center;
    color:rgb(66, 40, 7);
}
.gallery-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
   
}
.galery1{              
    
    border: 8px solid rgb(78, 48, 13);
}
 .galery2{              
    
    border: 8px solid rgb(78, 48, 13);
}
.galery3{
    
     border: 8px solid rgb(78, 48, 13);
}
.card-group{
    padding:15px;
    width: 65%;
    margin: 0 auto;
    
}
.card-img-top{
  width:300px;
}
.jacket-img {
    height: 300px;
    width: auto;      
    object-fit: cover;  
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family:'Roboto',sans-serif;
    margin:0;
}
.container{
    width: 1000px; 
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
svg{
    width: 30px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
header .icon-cart{
    position: relative;
}

header .icon-cart span{
    display:flex;
    width:20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #110101;
    border-radius:50%;
    position:absolute;
    top: 50%;
    right: -4px;
}
.cart-panel{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    border-radius: 8px;
    border:1px solid #ccc;
    padding: 20px;
    display:none;
    z-index:1000;
    box-shadow:0 10px 30px rgba(0,0,0,0.25);
}
.modal-overlay{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background:rgba(0,0,0,0.5) ;
    z-index: 900;
    display: none;
}
.cart-panel ul{
    list-style: none;
    padding: 0;
    margin:10px 0;
}
.cart-panel li{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
}
#close-cart{
    width: 100%;
    margin-top:10px;

}
#cart-total{
    font-weight: bold;
}
.add-to-cart{
    position: relative;
    z-index: 1;
}
 



